{%- assign collection_1 = collections[section.settings.collection_1] -%}
{%- assign collection_2 = collections[section.settings.collection_2] -%}

  <section id="twoCollections">
    <div class="row">
      <div class="col-md-6 left-c">
        <div class="left-c-img">
          <div class="overlay"></div>
          <img src="assets/summer-girl.jpg" class="">
        </div>
        <span class="collection-title">
          <span>
            {{ collection_1.title }}
          </span>
        </span>
      </div>
      <div class="col-md-6 right-c">
        <div class="right-c-bg">
          <div class="right-c-img">
            <img src="assets/guymodel.jpg" class="">
            <span class="collection-title">
              <span>
                {{ collection_2.title }}
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>



{% schema %}
{
  "name": "Two Collections",
  "class": "index-section index-section--flush",
  "settings": [
    {
        "type": "collection",
        "id": "collection_1",
        "label": "Collection 1",
        "info": "Choose a collection"
    },
    {
        "type": "collection",
        "id": "collection_2",
        "label": "Collection 2",
        "info": "Choose a collection"
    }
  ],
  "presets": [
    {
      "name": "Two Collections",
      "category": "Image"
    }
  ]
}
{% endschema %}
